AddHandler wsgi-script .wsgi
RewriteEngine On
RewriteCond %{HTTP_HOST} ^webyom.org$ [NC]
RewriteRule ^(.*)$ http://www.webyom.org/$1 [R=301,L]
RewriteRule ^static/(.*)$ webyom/static/$1
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !^/(webyom/static|static)/(.*)$
RewriteRule ^(.*)$ django.wsgi/$1 [QSA,L]