<!DOCTYPE html> 
<html lang="en-US"> 
<head> 
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta name="keywords" content="JavaScript, CSS, HTML, Python, Webyom, Gary, Blog" />
<meta name="description" content="Gary's Blog. About JavaScript, CSS, HTML, and Python." />
<title>Webyom - Gary's Blog</title>
<link rel="shortcut icon" href="/static/img/favicon.ico" />
<link type="text/css" rel="stylesheet" href="/static/css/c.css" />
</head>
<body style="display: none;">
<div id="wrapper">
	<div id="header" class=""></div>
	<div id="content"></div>
	<div id="footer"></div>
</div>

<script type="text/javascript" src="/static/js/require-config.js"></script>
<script type="text/javascript" src="/static/js/lib/yom/require.js"></script>
<script type="text/javascript">
var $$userName = '';
{% if user.username %}
$$userName = '{{ user.username }}';
{% endif %}
var $$uiContentTmpl = [
	'<div id="mainPart" class="mainPart"></div>',
	'<div id="sidePart" class="sidePart">',
		'<div data-mod-id="1" id="whoAmI" class="block sortable" style="position: relative;"><div class="blockInner">',
			'<div class="handle"></div>',
			'<h2>Who am I?</h2>',
			'<div id="sideWhoamiContent"></div>',
		'</div></div>',
		{% if is_admin %}
		'<div data-mod-id="2" class="block sortable"><div class="blockInner light">',
			'<div class="handle"></div>',
			'<h2>Admin</h2>',
			'<ul>',
				'<li><a href="/view/write">Write Article</a></li>',
			'</ul>',
		'</div></div>',
		{% endif %}
		'<div data-mod-id="3" class="block sortable"><div class="blockInner">',
			'<div class="handle"></div>',
			'<h2>Recent Readings</h2>',
			'<div id="sideReadingsContent"></div>',
		'</div></div>',
		'<div data-mod-id="4" class="block sortable"><div class="blockInner">',
			'<div class="handle"></div>',
			'<h2>Recommended Web Sites</h2>',
			'<div id="sideRecSites"></div>',
		'</div></div>',
	'</div>'
].join('');
</script>
<script type="text/javascript">
require(['main-pkg']);
</script>
</body>
</html>
