
.floatl {
	float: left;
}
.floatr {
	float: right;
}
.alignc {
	text-align: center;
}
.desc {
	color: #888;
	font-style: italic;
}
.clear {
	clear: both;
}

.error {
	color: #f00;
}

#processingDiv {
	padding: 5px;
	background: #FFFBB7;
	position: fixed !important;
	position: absolute;
	right: 0;
	top: 0;
	font-size: 1.2em;
	display: none;
}

/* @prettyprint
--------------------------------------------------------------------------------------------*/
.prettyprint {
	word-wrap: break-word;
}

.prettyprint code {
	font-family: "Courier New", Courier, monospace;
}